/* CONTENT */ 

/* --------CHIPS --------*/
/* clase body */
.contenido{  
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 56px 1fr;
  grid-template-areas: 
  'header header'
  'sidebar content';
  height: 100vh;
}
.content{
  grid-area: content;
 
}
.chips{
  background-color:var(--gris-negro);
  display: flex;
  padding-left: 14px;
  border-top: var(--borde-gris-medio-claro);
  border-bottom: var(--borde-gris-medio-claro) ;
  max-width: calc(100vw - 240px);
  overflow-x: scroll;
  white-space: nowrap;
 
}
.chips::-webkit-scrollbar{
  height: 6px;
}
.chips:hover::-webkit-scrollbar-thumb{
  background: var(--gris-claro);
}


.chips__items--fondo--borde-redondo{
  margin: 12px 6px;
  background-color:var(--gris);
  padding: 6px 12px;
  color: var(--blanco);
  cursor: pointer;
  border-radius: 16px;
  white-space: nowrap;
  transition: 0.5s;
}
.chips__items--fondo--borde-redondo:hover{
  background-color: var(--blanco);
}
.chips__parrafo{
  font-size: 0.9rem;
}
.imagenes{
  position:absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain; /*se ajuste al contenido */
  border-radius: 50%;
}
.icono{
  font-size: 1.5rem;}
/* -------------VIDEOS----------- */
.video {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: max-content;
  gap: 18px;
  padding: 20px;
  background-color:var(--gris-mas-negro);
  overflow-y: scroll;
  height: calc(100vh - 118px);
}

.video:hover::-webkit-scrollbar-thumb {
  background-color: var(--gris);
}

.video__content {
  position: relative;
  transition: 0.5s;
}

.video__content {
  margin-bottom: 25px;
  position: relative;
  width: 100%;
  padding: 8px;
  border-radius: 12px;
  transition: 1s;
}

.video__content--fondo-gris:hover {
  background-color: var(--gris);
}

.video-box {
  position: relative;
  width: auto;
  height: 145px;
  display: block;
}

.video-box .imagenes {
  object-fit: cover; 
  border-radius: 12px;
}

.video-detail {
  display: flex;
  color: var(--blanco);
  padding-top: 12px;
}

.chanel-logo {
  position: relative;
  min-width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}

.informacion {
  margin-left: 12px;
}
.informacion__title {
  font-size: 0.9rem;
}

.informacion__name {
  font-size: 0.8rem;
  margin-top: 10px;
  color:var(--blanco-hueso);
}

.informacion__upload {
  display: flex;
  font-size: 0.8rem;
  margin-top: 4px;
  color: var(--blanco-hueso);
  gap: 10px;
}