@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url(header.css);
@import url(sidebar.css);
@import url(content.css);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto",sans-serif;
}

:root{
  --blanco:white;
  --gris-claro: #494949;
  --borde-gris-medio-claro:solid 1px rgb(255,255, 255, 0.1);
  --gris-oscuro: #202020;
  --gris-negro:#121212;
  --gris:#313131;
  --gris-mas-negro:#181818;
  --blanco-hueso:#aaa;

}


@media(max-width:1200px) {
  .contenido {
    grid-template-columns: 70px 1fr;
  }

  .sidebar__items span,
  .sidebar__items h4 {
    display: none;
  }

  .sidebar__items {
    padding: 0;
  }

  .sidebar__item {
    padding: 0 20px;
  }

  .chips {
    max-width: calc(100vw - 70px);
  }
}

@media(max-width:800px) {
  .contenedor-busquedas {
    display: none;
  }
}
